langchain-core
langchain-community
langgraph-checkpoint-postgres
langchain-text-splitters
langgraph
langchain[openai]
langchain-openai
langchain-ollama
langchain-anthropic
langchain-deepseek
pypdf
pandas
unstructured
openpyxl
networkx
sqlalchemy
fastapi[standard]